<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li><a href="https://www.researchgate.net/profile/Elton-John-Da-Silva">ResearchGate</a></li>
                    <li><a href="https://medium.com/@elton.robaina">Medium</a></li>
                    <li><a href="https://github.com/eltonrobaina">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/elton-robaina/">Linkedin</a></li>
                    <li><a href="https://www.facebook.com/elton.robaina/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/elton.robaina/">Instagram</a></li>
                    
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>Copyright 2023 Elton J. Robaina da Silva.

                        | Design: <a rel="nofollow" href="https://github.com/eltonrobaina" target="_parent">RobainaTech</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>